<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/product.css" type="text/css" />
    <script defer src="/scripts/middleware/_utils.js"></script>
    <script defer src="/scripts/middleware/_products.js"></script>
    <script defer src="/scripts/product.js"></script>
    <title>Product Page</title>
    <%- include('partials/_meta') %>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="image-container">
            <div class="square-image">
              <img
                src="<%= img %>"
                alt="Product Image"
                class="img-fluid rounded"
              />
            </div>
              <button id="favorite-btn" class="favorite-btn" type="submit">
                <i class="fas fa-heart fa-2x"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="d-flex flex-column col-md-6 justify-content-center">
          <div class="d-flex flex-column mt-4">
            <h1><%= title %></h1>
            <h3>$<%= price %></h3>
            <p><%= description %></p>
          </div>
          <div class="my-2" id="message"></div>
          <form
            class="d-flex flex-column gap-2"
            data-subject="Looking for <%= title%>"
            data-email="<%= email %>"
            id="email-form"
          >
            <input
              type="email"
              name="from"
              class="form-control"
              placeholder="Your email here"
            />
            <textarea
              name="text"
              placeholder="Message to seller"
              class="form-control"
            ></textarea>
            <button type="submit" class="btn btn-primary mt-3">
              Send Email
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
