<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/styles/product.css" type="text/css" />

    <title>Product Page</title>
    <%- include('partials/_meta') %>

  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="container mt-5">
      <div class="row justify-content-center">
      <h1 class="mb-4"><%= title %></h1>
        <div class="col-md-6">
          <div class="image-container">
            <div class="square-image">
              <img src="<%= img %>" alt="Product Image" class="img-fluid rounded">
            </div>
            <form action="/api/products/<%= product_id %>/favorite" method="POST">
              <button class="favorite-btn" type="submit">
                <i class="fas fa-heart fa-2x"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <div>
              <h3>
               Description
              </h3>
              <p><%= description %></p>
            </div>
            <div class="ms-auto">
              <h3>Price:</h3>
              <p><%= price %></p>
            </div>
          </div>
          <form action="mailto:<%= email %>?subject=Looking to buy<%= title %>" method="POST" enctype="text/plain">
              <textarea name="comment" class="form-control" placeholder="Message to seller"></textarea>
              <button type="submit" class="btn btn-primary mt-3">Send Email</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
